*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(image/1.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}
h2{
    text-align: center;
    margin-bottom: 40px;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
    color: #ff7200;
    border: 3px dotted #ff0090;
}
form{
    width: 500px;
    border: 2px solid rgb(255, 0, 0);
    padding: 30px;
    background: rgba(2, 0, 0, 0.498);
    align-items: center;
    border-radius: 15px;
}
input{
    width: 440px;
    height: 35px;
    background: transparent;
    border-bottom: 2px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
    
.form input:focus{
    outline: none;
}

::placeholder{
    color: #fff;
    font-family: Arial;
}

.btnn{
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btnn:hover{
    background: #fff;
    color: #ff7200;
}